.wrap {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0px auto;
  color: white;
  padding: 50px;
  flex-grow: 1;
  width: 100%;
  background-image: linear-gradient(to right, #30324c, #1e1f2f);
}

.app > h2 {
  flex-basis: 85px;
  margin: 0;
  padding: 0px 45px;
  display: flex;
  align-items: center;
  font-size: 70px;
  color: white;
  background: #232437;
  border-bottom: 2px solid #2c2d45;
  font-weight: 200;
  font-size: 30px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-weight: 200;
}

.wrap path {
  stroke: white;
}

.wrap text {
  fill: white;
}

@media (max-width: 1500px) {
  .wrap {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .wrap {
    padding: 20px;
  }
}
