.wrap {
  display: flex;
  flex-direction: row;
  height: 100vh;
  box-sizing: border-box;
  margin: 0px auto;
  background: #30324c;
  padding: 50px;
  color: white;
}

.wrap path {
  stroke: white;
}

.wrap text {
  fill: white;
}
