.console {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  min-height: 400px;
  position: relative;
  padding: 80px;
  box-sizing: border-box;
}

.console h1 {
  flex-basis: 50px;
  flex-shrink: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 40px;
  margin-bottom: 10px;
}

.chartWrapper {
  height: 100%;
  margin: 0px auto;
  position: relative;
  padding: 30px 50px;
  background: #2c2d45;
  border-radius: 50px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}

.chart {
  flex-basis: calc(100% - 50px);
  flex-shrink: 1;
  width: 100%;
  position: relative;
}

.chartWrapper svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.chartWrapper :global .bar {
  fill: #acb6ec;
}

@media (max-width: 1500px) {
  .console {
    padding: 40px 20px;
  }
}

@media (max-width: 800px) {
  .chartWrapper {
    background: inherit;
  }
}
