.map {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-height: 400px;
  /* margin: 30px 50px; */
  flex-basis: 50%;
}

.map svg {
  position: absolute;
  height: 100%;
  width: 100%;
  fill: white;
}

.map path {
  stroke: transparent !important;
}

.map :global .country:hover {
  fill: #3f51b5;
  stroke: white !important;
}

.map h1 {
  position: absolute;
}

.map :global .legend {
  width: 10px;
}

.sliderWrapper {
  height: calc(100% - 100px);
  position: absolute;
  left: 0;
  top: 0;
  margin: 50px 0px;
  box-sizing: content-box;
  z-index: 10;
}

.sliderWrapper :global .MuiSlider-markLabel {
  visibility: hidden;
}

.sliderWrapper :global .PrivateValueLabel-offset-17 {
  top: -52px;
  left: calc(-50% - 13px);
}

.sliderWrapper :global .PrivateValueLabel-circle-18 {
  width: 50px;
  height: 50px;
  text-align: center;
}
