.map {
  flex-grow: 1;
  flex-shrink: 0;
  background: #f1f1f1;
  position: relative;
  min-height: 400px;
}

.map svg {
  position: absolute;
  height: 100%;
  width: 100%;
  fill: white;
}

.map path {
  stroke: transparent;
}

.map :global .country:hover {
  fill: pink;
}

.map h1 {
  position: absolute;
}

.sliderWrapper {
  height: calc(100% - 100px);
  position: absolute;
  left: 0;
  top: 0;
  margin: 50px 0px;
  box-sizing: content-box;
  z-index: 10;
}

.sliderWrapper :global .MuiSlider-markLabel {
  visibility: hidden;
}
